<div class="row">
    <div class="col-sm-12">
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="name">Name</label>
                    <input type="text" class="form-control" required
                    [(ngModel)]="user.name" name="name">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="firstname">First Name</label>
                    <input type="text" class="form-control" required
                    [(ngModel)]="user.firstName" name="firstname">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="lastname">Last Name</label>
                    <input type="text" class="form-control" required
                    [(ngModel)]="user.lastName" name="lastname">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="email">Email</label>
                    <input type="email" class="form-control" required
                    [(ngModel)]="user.email" name="email" pattern="[^ @]*@[^ @]*" placeholder="Introduzca el email">
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-sm-3">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" class="form-control" [disabled]="id ? true : false" [required]="id ? false : true"
                    [(ngModel)]="user.password" name="password">
                </div>
            </fieldset>

            <div>
                <input type="checkbox" id="enable" name="enable" [(ngModel)]="user.enabled" name="enabled">
                <label for="enabled">Enabled</label>
            </div>

            <fieldset class="form-group">
                <div class="col-sm-offset-2 col-sm-12">
                    <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid"> Submit </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>