#input-filtrar{
    margin-left: 12px;
    margin-right: 25px;
}

#input-habilitar{
    margin-left: 12px;
    margin-right: 18px;
}

#input-pedidos{
    margin-right: 25px;
    margin-left: 15px;
}

#cerrar-sesion-button{
    margin-top: 10px;
}